<!-- utilisation des proprietes de mise en page de bootstrap et creation des liens-->
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">

      <ul class="navbar-nav">
        <!-- utilisation de routerLink et pas href pour les routes angular -->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link active"  routerLink="auth">Authentification</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link active"  routerLink="appareils">appareils</a>
        </li>

      </ul>
      
      <div class="navbar-right">
        <p>vous etes connecte depuis {{secondes}} secondes</p>
      </div>

    </div>

  </div>
</nav>

<div class="container">
  <div class="row">
    <!-- utilisation du selecteur pour les routes integrer
    dasn l'application-->
    <router-outlet></router-outlet>
  </div>
</div>

